* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
  
   background-color: rgb(87, 86, 83);
    height: 140vh;
   
    background: url("../photo/first.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display:flex;
    align-items: center;
    justify-content: center;

    position: relative;


}

/* Altering  nav bar  */

.navalert-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    
}

.navalert-container a {
    display: inline-block;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,.25);
    color: #ffffff;
    
    
}

}
.navbar .navbar-toggler {
    border:0;
}

.header div nav {
   background-color: rgb(87, 86, 83);
}

hr {
    margin: 0;
}
.header {
    text-align: center;
    margin: 0;
    padding: 0;
}

.header div {
    padding: 0;
}


.callout {
   /*position: relative;*/
    padding-top: 5px;
    /*background-color: black;*/
}

.callout div {
    text-align: center;
    position: relative;
   /* position: absolute; */
    color: #ffffff;
    /*background-color:rgba(90, 90, 90, .5);*/
    top: -25%;
    max-height: 120px;
}

.callout div p {
    color: #ffffff;
}


.callout img {
    height: 100px;
    border-radius: 50%;

}
/*
.callout-container {
    height: 100vh;
   
    background: url("../photo/first.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display:flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
*/
.job-apply {
    text-align: center;
}

.moto {
    text-align: center;
}


.networks {
    text-align: center;
    left: 0;
    width: 100%;
    
    margin: 0px;
    bottom: 0;
    position: fixed;
   /* align-items: bottom;*/
    background-color: transparent;
    color: #ffffff;
    font-size: 150%;
    z-index: 1;
    background-color: rgba(0,0,0,.25);
}

.networks li {
    display: inline;
}

.networks i {
    color: #ffffff;
}

.networks a{
    color: #ffffff;
}

footer ul li {
    text-decoration: none;
    background: transparent;
    z-index: 1;
    padding: 25px;
    color: red;
}

footer ul {
    list-style-type: none;
}